@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
  margin: 0px;
}

#container {
  /* position: absolute; */
  margin: auto;
  width: 35vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-size: 40pt;

  text-align: center;

  user-select: none;
}

#filter {
  position: absolute;
}
.recipe-button {
  background-color: yellow;
  display: flex;
  flex-grow: 1; /* Grow to fill the space */
  width: 100%;
  box-sizing: border-box;
  color: black;
  border: 2px solid green;
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
  height: max-content;
  transition: transform 0.3s ease;
}

.recipe-button:hover {
  transform: translateY(-5px);
}
.dropdown-toggle {
  background-color: yellow; /* Yellow background */
  color: green; /* Green text */
  border: 2px solid black; /* Optional: add a black border */
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: 0.3s; /* Smooth transition for hover effects */
}

.dropdown-toggle:hover {
  background-color: #f8e825; /* A slightly darker yellow for hover */
  /* Optionally, you can change the text color on hover too */
}

.dropdown-toggle:focus {
  outline: none; /* Removes the outline to keep the style clean */
}

.recipe-item {
  /* Style for individual recipe items in the dropdown */
  display: block; /* Ensures each button takes up its own line */
  width: 100%; /* Match the width to parent */
  /* Other styling as needed */
}

.dropdown-content {
  display: flex;
  flex-direction: column; /* Aligns children vertically */
  /* Other styling as needed */
}