.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
 
      width: 100vw; /* Full viewport width */
      height: 100vh; /* Full viewport height */
      display: flex; /* To center the content */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      /* Add any additional styles for background, padding, etc. */
  
    border-radius: 4px;
    font-size: medium;

  overflow: auto;
  }
  
  .modal-close-button {
    float: right;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .recipe-button {
    /* Add your button styles and animations */
    cursor: pointer;
    /* Example hover effect */
    transition: transform 0.2s;
  }
  
  .recipe-button:hover {
    transform: scale(1.1);
  }
  
 
  .modal-content {
    /* ...existing styles... */
    background-image: linear-gradient(to right, red, green, black);
    color: white; /* Adjust the text color for better visibility */
    /* ... */
  }

  .modal-title {
    margin-top: 0;
    color: yellow; /* Title color */
  }
  .pdf-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .modal-content {
    position: relative; /* Needed for absolute positioning of the close button */
  }
  